*.pyc
*~
.sconsign.dblite

# Build folders:
src/objs
src/bin
src/build

# Common renderer output file:
pbrt.exr

# These files are generated during the build process:
#src/core/pbrtlex.cpp
#src/core/pbrtparse.cpp
#src/core/pbrtparse.hh
src/core/pbrtparse.output

# xcode temp files
src/pbrt.xcodeproj/project.xcworkspace/
src/pbrt.xcodeproj/xcuserdata/
